<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <springProperty scope="context" name="springAppName" source="spring.application.name"/>

    <property name="LOGS" value="./logs"/>

    <appender name="Console"
              class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %d{yyyy-MM-dd HH:mm:ss.SSS} %highlight(%-5level) %magenta(%-4relative) --- [ %thread{10},
                %X{X-B3-TraceId:-}, %X{X-B3-SpanId:-}, %X{X-Span-Export:-} ] %cyan(%logger{20}) : %msg%n%throwable
            </Pattern>
        </layout>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp>
                    <timeZone>UTC</timeZone>
                </timestamp>
                <pattern>
                    <pattern>
                        {
                        "timestamp": "@timestamp",
                        "severity": "%level",
                        "service": "${springAppName:-}",
                        "trace": "%X{X-B3-TraceId:-}",
                        "span": "%X{X-B3-SpanId:-}",
                        "baggage": "%X{key:-}",
                        "pid": "${PID:-}",
                        "thread": "%thread",
                        "class": "%logger{40}",
                        "rest": "%message"
                        }
                    </pattern>
                </pattern>
            </providers>
        </encoder>
    </appender>

    <appender name="ACCESS" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
        </encoder>
    </appender>

    <appender name="MASKING_APPENDER" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <jsonGeneratorDecorator class="com.donghyukki.logger.masking.MaskingDecorator"/>
        </encoder>
    </appender>

    <!-- kafka initialize only dev, prd phase -->
    <springProfile name="dev,prd">
        <springProperty name="profiles" source="spring.profiles.active" defaultValue="local"/>

        <property resource="logback-${profiles}.properties"/>

        <appender name="kafkaAppender" class="com.github.danielwegener.logback.kafka.KafkaAppender">
            <encoder class="com.github.danielwegener.logback.kafka.encoding.PatternLayoutKafkaMessageEncoder">
                <layout class="net.logstash.logback.layout.LogstashLayout"/>
            </encoder>
            <topic>${kafka.topic.name}</topic>
            <producerConfig>bootstrap.servers=${kafka.host}</producerConfig>
        </appender>

        <appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
            <appender-ref ref="kafkaAppender"/>
        </appender>

        <logger name="org.apache.kafka" level="ERROR"/>
    </springProfile>

    <!-- logger for sleuth -->
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <logger name="feign" level="DEBUG"/>
    <logger name="org.springframework.cloud.sleuth" level="TRACE"/>
    <logger name="org.springframework.boot.autoconfigure.logging" level="INFO"/>
    <logger name="org.springframework.cloud.sleuth.log" level="INFO"/>
    <logger name="org.springframework.cloud.sleuth.trace" level="INFO"/>

    <logger name="ACCESS_LOGGER" additivity="false" level="INFO">
        <appender-ref ref="ACCESS"/>
    </logger>

    <logger name="MASKING_LOGGER" additivity="false" level="INFO">
        <appender-ref ref="MASKING_APPENDER"/>
    </logger>

    <springProfile name="local">
        <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
    </springProfile>

    <springProfile name="prod">
        <root level="ERROR">
            <appender-ref ref="STDOUT"/>
        </root>
    </springProfile>

    <!-- LOG everything at INFO level -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>

